Button{
    background: red;
}


body{
    background: rgb(224, 224, 224)
}




// @media only screen and (max-width: 780px) {
//     .sm {
//         display: none;
//     }
//     .size{
//         width:100%;
//     }
// }





@-webkit-keyframes heartbit {
    0% {
      -webkit-transform: scale(0);
      opacity: 0.0; }
    25% {
      -webkit-transform: scale(0.1);
      opacity: 0.1; }
    50% {
      -webkit-transform: scale(0.5);
      opacity: 0.3; }
    75% {
      -webkit-transform: scale(0.8);
      opacity: 0.5; }
    100% {
      -webkit-transform: scale(1);
      opacity: 0.0; } }

.zindex{
          z-index: 1;
          background: red;
          color: red
      }

      .menu{
          z-index: 2000 !important;
      }


.sidenav_collapse{
    position: fixed;  
    margin-left: auto;
    margin-right: -5px;
    margin-top: 3cm;
    z-index: 1500 !important;
     
}


.sidebar{
    overflow: scroll;
    transition: width 2s;
    // direction:rtl;

}


::-webkit-scrollbar {
    width: 1px;
    
  }
  
 


//   @for $i from 1 through 12 {
//     .a-#{$i} {
//       height:#{$i}cm ;
//       background: red;

//     }
//   }




























@media (min-width: 0) { 
    .sm{
        display: none;
    }
   
   

}

@media  (min-width: 576px) { 
    .sm{
        display: none;
    }
   
}

// md --- Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .sm{
        display: flex;
    }
   

 }

// lg --- Large devices (desktops, 992px and up)
@media (min-width: 958px) { 
    .sm{
        display: flex;
    }
   
 }

// xl --- Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .sm{
        display: flex;
    }
  
    

 }
.hover{
    transition: all 0.2s ease-in-out;
    
    &:hover{
        cursor: pointer;
    
        transform: scale(1.05)
    }
}


